<link rel="stylesheet" href="./editprofile.css">


<p>Edit Your Profile</p>

{{#if error}}
<p class="error">Sorry, something went wrong on your end. Try again!</p>
{{/if}}


<div class="form-div">


<form method="POST">
    <input type="text" name="first" placeholder="first name" value={{# profile}}{{first}}{{/profile}}>
    <input type="text" name="last" placeholder="last name" value={{# profile}}{{last}}{{/profile}}>
    <input type="text" name="email" placeholder="email" value={{# profile}}{{email}}{{/profile}}>
    <input type="text" name="password" placeholder="password">
    <input type="text" name="age" placeholder="age" value={{# profile}}{{age}}{{/profile}}>
    <input type="text" name="city" placeholder="city" value={{# profile}}{{city}}{{/profile}}>
    <input type="url" name="homepage" placeholder="Include https://" value={{# profile}}{{url}}{{/profile}}>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button style="font-size: 18px;">Update Profile</button>

    <a href="/petition"><button style="font-size: 18px;">Head Back to Petition</button></a>

</form>

</div>
