<link rel="stylesheet" href="./signers.css">
<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">


<div id="signers-list">
    <h1 class="signer-title">List of fellow signers</h1>
    <hr>
    {{#each signers}}
        {{#if url}}
        <ul id="signer-link">
            <a id="signer-link" href="{{ url }}" target="_blank">{{ first }} {{ last }}</a> {{#if age}} | {{ age }} {{/if}} {{#if city}},
            <a id="signer-link" href="/signers/{{ city }}">{{ city }}</a> {{/if}}
        </ul>
        {{else}}
        <ul id="signer-link">
            {{ first }} {{ last }} {{#if age}} | {{ age }} {{/if}} {{#if city}},
            <a id="signer-link" href="/signers/{{ city }}">{{ city }}</a> {{/if}}
        </ul>
        {{/if}}
    {{/each}}

    <div id="signer-container">
        <a href="/thanks"><button id="signer-button" style="font-size: 18px;"> Back to Signature</button></a>
    </div>
</div>