<link rel="stylesheet" href="./signers.css">
<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">


<div id="signers-list">
    <h1 class="signer-title">List of fellow signers</h1>
    <hr>
        {{#each signers}}
        <ul>
            <a id="signer-link" href="{{ url }}" target="_blank">{{ first }} {{ last }}</a> | {{ age }},

            <a id="signer-link" href="/signers/{{ city }}">{{ city }}</a>
        </ul>
        {{/each}}

        <div id="signer-container">
            <a href="/thanks"><button id="signer-button" style="font-size: 18px;"> Back to Signature</button></a>
        </div>
</div>
