<link rel="stylesheet" href="./thanks.css">
<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">


<div id="thanks-container">

    <h1>Thanks, {{first}}, for your support!</h1>

    <img src={{signature}}>

    <p class="spread">Please spread word about our movement to your friends!</p>
    <a class="link-thanks" href="/signers">Click here to see a list of all fellow supporters</a>

    <div id="button-container">
        <form method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button id="button-thanks" style="font-size: 20px;">Update Your Profile</button>
        </form>

        <form action = "/signature/delete" method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button id="button-thanks" style="font-size: 20px;">Redo Your Signature</button>
        </form>

        <form action="/deleteAccount" method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button id="delete-account" style="font-size: 20px;"> Delete Account</button>
        </form>

    </div>

        <a href="/logout"><button id="logout-thanks" style="font-size: 20px;">Logout</button></a>

</div>
